<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

    <!-- For mail settings and future properties files -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations" value="classpath:jdbc.properties"/>
    </bean>
    
    <!-- 
    <bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">  
		  <property name="driverClassName"  value="oracle.jdbc.OracleDriver" />    
		  <property name="url" value="jdbc\:oracle\:thin\:@192.168.1.99\:1521\:DBDM" />
		  <property name="username" value="stride" />  
		  <property name="password" value="stride96" />  
	</bean> -->

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		  <property name="driverClass" value="${jdbc.driverClassName}" /> 
		  <property name="jdbcUrl" value="${jdbc.url}" /> 
		  <property name="user" value="${jdbc.username}" /> 
		  <property name="password" value="${jdbc.password}" /> 
		  <property name="minPoolSize" value="10" /> 
		  <property name="maxPoolSize" value="100" /> 
		  <property name="maxIdleTime" value="1800" /> 
		  <property name="acquireIncrement" value="2" /> 
		  <property name="maxStatements" value="0" /> 
		  <property name="initialPoolSize" value="10" /> 
		  <property name="idleConnectionTestPeriod" value="1800" /> 
		  <property name="testConnectionOnCheckout" value="false" /> 
		  <property name="acquireRetryAttempts" value="0" /> 
		  <property name="acquireRetryDelay" value="30000" /> 
		  <property name="breakAfterAcquireFailure" value="false" /> 
	</bean>
	
	 <bean id="autoWaysDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	  <property name="driverClass" value="${jdbc.driverClassName}" /> 
	  <property name="jdbcUrl" value="${jdbc.autoWays.url}" /> 
	  <property name="user" value="${jdbc.autoWays.username}" /> 
	  <property name="password" value="${jdbc.autoWays.password}" /> 
	  <property name="minPoolSize" value="10" /> 
	  <property name="maxPoolSize" value="100" /> 
	  <property name="maxIdleTime" value="1800" /> 
	  <property name="acquireIncrement" value="2" /> 
	  <property name="maxStatements" value="0" /> 
	  <property name="initialPoolSize" value="10" /> 
	  <property name="idleConnectionTestPeriod" value="1800" /> 
	  <property name="testConnectionOnCheckout" value="false" /> 
	  <property name="acquireRetryAttempts" value="0" /> 
	  <property name="acquireRetryDelay" value="30000" /> 
	  <property name="breakAfterAcquireFailure" value="false" /> 
	  </bean>

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:ibatic/sql-map-config.xml"/>
    </bean>
    
    <bean id="autoWaysSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:ibatic/autoWays-sql-map-config.xml" />
        <property name="dataSource" ref="autoWaysDataSource" />
        <property name="useTransactionAwareDataSource" value="true"></property>
    </bean>

    <!--事务管理直接用的DataSourceTransactionManager-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
</beans>
